<style>
    .about {
        padding-top: 105px;
        padding-bottom: 146px;
        z-index: 1;
    }

    .about_image {
        position: absolute;
        top: -38px;
        left: 15px;
    }

    .about_content {
        padding-top: 93px;
    }

    .about_logo {
        position: absolute;
        left: 0;
        top: 4px;
    }

        .about_logo a {
            color: #2e2e2e;
            font-weight: 800;
            text-transform: uppercase;
        }

    .about_text {
        font-size: 14px;
        font-weight: 600;
        line-height: 2.29;
        color: #929191;
    }

    .about_social_list {
        margin-top: 40px;
    }

    .about_social_item {
        display: inline-block;
        width: 47px;
        height: 47px;
        border: solid 2px #fa9e1b;
        border-radius: 50%;
        text-align: center;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
        margin-right: 15px;
    }

        .about_social_item:last-child {
            margin-right: 0px;
        }

        .about_social_item a {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
        }

            .about_social_item a i {
                display: block;
                position: relative;
                color: #fa9e1b;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                font-size: 20px;
                -webkit-transition: all 200ms ease;
                -moz-transition: all 200ms ease;
                -ms-transition: all 200ms ease;
                -o-transition: all 200ms ease;
                transition: all 200ms ease;
            }

        .about_social_item:hover {
            background: #fa9e1b;
        }

            .about_social_item:hover a i {
                color: #FFFFFF;
            }

    .about_info {
        padding-top: 100px;
    }

        .about_info .contact_info_item:last-child {
            margin-bottom: 0px;
        }

        .about_info .contact_info_list {
            margin-top: 0px;
        }

        .about_info .contact_info_text,
        .about_info .contact_info_text a {
            color: #2e2e2e;
        }
</style>

<div class="home_ciudades">

    <div class="plantilla parallax-window" data-parallax="scroll" data-image-src="../../Content/images/home-hero.jpg"></div>
    <img src="." alt="Alternate Text" />
    <div class="home_content">
        <h1 class="text-center" style="color:black">
            <strong>
                TRAVELIX
            </strong>
        </h1>
    </div>
</div>
<h3 class="text-center" style="color:black">
    <strong>
        Agencia de Viajes
    </strong>
</h3>

<div class="super_container">



    <!-- About -->

    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">

                    <!-- About - Image -->

                    <div class="about_image">
                        <img src="~/Content/images/man.png" alt="">
                    </div>

                </div>

                <div class="col-lg-4">

                    <!-- About - Content -->

                    <div class="about_content">
                        <div class="logo_container about_logo">
                            <div class="logo"><a href="#"><img src="~/Content/images/logo.png" alt="">travelix</a></div>
                        </div>
                        <p class="about_text">
                            <b>Misión</b><br />
Brindar nuestros servicios turísticos con una atención personalizada de la más alta calidad a fin de lograr la plena satisfacción del cliente a precios accesibles.<br />
<b>Visión</b><br />
Establecernos como una empresa líder en soluciones turísticas a nivel nacional e internacional,  creando un modelo de trabajo basado en la excelencia de nuestros servicios, logrando la preferencia y fidelidad de nuestros clientes. >
                        
                        </p>
                        <ul class="about_social_list">
                            <li class="about_social_item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li class="about_social_item"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="about_social_item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="about_social_item"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li class="about_social_item"><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-lg-3">

                    <!-- About Info -->

                    <div class="about_info">
                        <ul class="contact_info_list">
                            <li class="contact_info_item d-flex flex-row">
                                <div><div class="contact_info_icon"><img src="~/Content/images/placeholder.svg" alt=""></div></div>
                                <div class="contact_info_text">4127 Raoul Wallenber 45b-c Gibraltar</div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                <div><div class="contact_info_icon"><img src="~/Content/images/phone-call.svg" alt=""></div></div>
                                <div class="contact_info_text">2556-808-8613</div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                <div><div class="contact_info_icon"><img src="~/Content/images/message.svg" alt=""></div></div>
                                <div class="contact_info_text"><a href="mailto:contactme@gmail.com?Subject=Hello" target="_top">contactme@gmail.com</a></div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                <div><div class="contact_info_icon"><img src="~/Content/images/planet-earth.svg" alt=""></div></div>
                                <div class="contact_info_text"><a href="https://colorlib.com">www.colorlib.com</a></div>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="contact_form_section">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Contact Form -->
                    <div class="contact_form_container">
                        <div class="contact_title text-center">Contactos</div>
                        <form action="#" id="contact_form" class="contact_form text-center">
                            <input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="Tú Nombre" required="required" data-error="Name is required.">
                            <input type="text" id="contact_form_email" class="contact_form_email input_field" placeholder="E-mail" required="required" data-error="Email is required.">
                            <input type="text" id="contact_form_subject" class="contact_form_subject input_field" placeholder="Asunto" required="required" data-error="Subject is required.">
                            <textarea id="contact_form_message" class="text_field contact_form_message" name="message" rows="4" placeholder="Mensaje" required="required" data-error="Please, write us a message."></textarea>
                            <button type="submit" id="form_submit_button" class="form_submit_button button trans_200">Enviar Mensaje<span></span><span></span><span></span></button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


