@{
    @model string
    Layout = "";
}
<div class="home_ciudades">

    <div class="plantilla parallax-window" data-parallax="scroll" data-image-src="../../Content/images/titulo.jpg"></div>
    <div class="home_content">
        <div class="home_title">Ciudades</div>
    </div>
</div>
        <h3 class="text-center" style="color:white">
            @Model
        </h3>
